
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 39.8rem;
    height: 3.3rem;

    background: var(--gray-500);

    border: 1px solid var(--gray-700);
    border-radius: 8px;

    color: var(--gray-100)
}

input:focus {
    outline: transparent;
    box-shadow: 0 0 0 1px var(--purple-middle);
}

::placeholder{
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    color: var(--gray-300);
}

.buttonPlus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 5.6rem;
    height: 3.2rem;

    background: var(--blue-dark);
    border-radius: 8px;
    color: var(--white);

    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    border: none;

    cursor: pointer;
    transition: background-color 0.1s;
}

.buttonPlus:hover{
    background: var(--blue);
}